.tooling-apps-cache/app/variablesexample/variablesexample.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="d542bae0-adc6-4699-af57-af6a78b6372b" >
		<http:listener-connection host="0.0.0.0" port="8089" />
	</http:listener-config>
	<flow name="variablesexampleFlow" doc:id="69d164cf-62a6-4414-b5a7-8c8caa80b7a3" >
		<http:listener doc:name="Listener" doc:id="26010fa2-fd68-4830-82ad-0b019e6d8efb" config-ref="HTTP_Listener_config" path="/variablesExample" allowedMethods="POST"/>
		<set-variable value="#[message.payload]" doc:name="Set Variable" doc:id="5500f921-a0e6-4a90-8b22-d03a00dc5e0e" variableName="myVar1"/>
		<logger level="INFO" doc:name="Logger" doc:id="f420ed86-de1c-4b9e-bf64-27cf46d645ba" message="#[vars.myVar1]"/>
	</flow>
</mule>
